.comments-container {
  display: flex;
  margin: 0 16px;
  &__grey-image {
    width: 48px;
    height: 48px;
    background-color: #afafaf;
    border-radius: 24px;
  }
  &__name-date-container {
    display: flex;
    justify-content: space-between;
  }
  &__name {
    font-weight: 700;
  }
  &__date {
    color: #afafaf;
  }
  &__hr {
    width: 288px;
  }
}
