@import "../../styles//partials/mediaQuery";

.form-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  @include tablet {
    margin: 24px;
  }
  &__slogan {
    display: flex;
    justify-content: center;
    margin: 16px 0 8px 26px;
    font-weight: 700;
    color: #afafaf;
    font-size: 15px;
    @include tablet {
      justify-content: flex-start;
      margin: 0 0 0 84px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__image-text-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include tablet {
      justify-content: flex-start;
    }
  }
  &__image {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin: 0 15px 0 0;
  }
  &__text-area {
    border-radius: 4px;
    border: 1px solid #afafaf;
    width: 73vw;
    height: 31.5625vw;
    @include tablet {
      height: 48px;
      width: 65.2916vw;
    }
  }
  &__button {
    align-self: flex-end;
    margin: 16px 0 0 0;
    height: 50px;
    width: 71.4vw;
    border-radius: 4px;
    border: 0;
    background-color: #0095ff;
    color: #fafafa;
    font-weight: 700;
    @include tablet {
      height: 48px;
      margin: 2px 10px;
      width: 20.833vw;
    }
  }
}
